@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/* INDEX STYLE */
header {
    position: fixed;
    background-color: rgb(228, 228, 228);
    width: 100%;
    top: 0;
    left: 0;
}

h1 {
    margin: 20px;
    text-align: start;
    font-style: unset;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 50px;
    text-shadow: 0.1em 0.1em rgb(134, 134, 134);

}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.ulnav li ul {
    visibility: hidden;
    position: absolute;
    background-color: red;
    border-radius: 5px;
    width: 100px;
    margin-top: 1rem;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: .2s;
}

.ulnav li ul a:hover {
    background-color: red;
    border: 1px solid red;
}

main {
    position: block;
}

li {
    margin: 15px;

}

li a {
    background-color: rgb(255, 255, 255);
    color: rgb(134, 134, 134);
    padding: 3px 8px;
    border-radius: 15px;
    text-decoration: none;

}

img.montagne {
    height: 100%;
    border-radius: 20px;

}

img.montagne2 {
    height: 100%;
    border-radius: 20px;
}

img.montagne3 {
    height: 100%;
    border-radius: 20px;
}

img.montagne4 {
    height: 100%;
    border-radius: 20px;
}





section {
    display: flex;
    justify-content: center;
}

.grille {
    margin-top: 300px;
    display: grid;
    grid-template-columns: 125px 125px;
    grid-template-rows: 125px 125px;
    grid-gap: 250px;

}

footer {
    position: fixed;
    background-color: rgb(228, 228, 228);
    width: 100%;
    left: 0;

}

.copyright p {

    color: rgb(134, 134, 134);
    text-align: center;
    text-decoration: underline;

}


.footer-copy {
    flex-direction: column;
    text-align: center;
}






a.active {
    background-color: rgb(187, 255, 0);
}



/* CONTACT STYLE */

.section-form {}

.formulaire {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    margin-top: 300px;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    position: absolute;
}

input,
textarea {
    grid-column: span 2;
    margin-right: 20px;
    max-width: 90%;
    min-width: 90%;
}

label {
    text-align: center;
    text-decoration: underline;
}

form button {
    grid-column: 2;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    ;
}

header nav img {
    display: none;
}






@media (max-width: 700px) {
    header {
        background-color: rgb(75, 75, 75);
    }

    body {
        width: 100vw;
    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    .nonactive {
        display: none;
    }

    .active {
        display: flex;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header nav img {
        height: 50px;
        display: block;
    }




    .formulaire {
        width: 300px;
        height: 300px;
    }

    .grille {

        margin-top: 200px;
        margin-right: 80px;
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 100px 100px 100px 100px;
        grid-gap: 120px;
        margin-bottom: 200px;

    }














}